{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

<h1> Your results </h1>
<p> You have more than one person who you rated identically with another person. As such, we cannot currently automate
your results. </p>
<p> DO NOT DESPAIR. There are some options:</p>
<ul>
  <li> You may click backwards through a few pages and re-do some of the ratings, particularly if you recall who you rated similarly. </li>
  <li> Write down the first few names you listed, then contact Jonathan Gerber, Ph.D and he will calculate your results for you for free.</li>
</ul>

<h2> Do you still need more information?</h2>
This is a brief version of a longer test by George Kelly. The full version of this test and/or further interpretation of these results can be accessed via a consultation with J. P. Gerber, Ph.D.

</div>
{% endblock %}
