{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Part I - Roles</h1>
  <p>Please enter the names of people who have filled certain roles in your life.</p>
  <p><u> Notes </u><br>
    Each person can only be used once. If someone filled more than one of the roles, then please choose them for one role only, and
    think of someone else for the other role.<br>
  You are welcome to use first and/or last names. We recommend using both first and last names<br>
    You can only use a name once. So, if two people share the same first name, write their last name and, if needed, a way to distinguish them.<br>
  Lastly, if you don't have someone who precisely meets the category, choose the person you know who fits the category best</p>

  <form method="POST">
    {{ form.hidden_tag() }}
    <table>
    <thead><tr><th>Role</th><th>Name</th></tr></thead>
    <tbody>
    <tr><td>{{ form.role01.label}} </td><td>{{form.role01()}}</td></tr>
    <tr><td>{{ form.role02.label}} </td><td>{{form.role02()}}</td></tr>
    <tr><td>{{ form.role03.label}} </td><td>{{form.role03()}}</td></tr>
    <tr><td>{{ form.role04.label}} </td><td>{{form.role04()}}</td></tr>
    <tr><td>{{ form.role05.label}} </td><td>{{form.role05()}}</td></tr>
    <tr><td>{{ form.role06.label}} </td><td>{{form.role06()}}</td></tr>
    <tr><td>{{ form.role07.label}} </td><td>{{form.role07()}}</td></tr>
    <tr><td>{{ form.role08.label}} </td><td>{{form.role08()}}</td></tr>
    <tr><td>{{ form.role09.label}} </td><td>{{form.role09()}}</td></tr>
    <tr><td>{{ form.role10.label}} </td><td>{{form.role10()}}</td></tr>
    <tr><td>{{ form.role11.label}} </td><td>{{form.role11()}}</td></tr>
    <tr><td>{{ form.role12.label}} </td><td>{{form.role12()}}</td></tr>
    <tr><td>{{ form.role13.label}} </td><td>{{form.role13()}}</td></tr>
    <tr><td>{{ form.role14.label}} </td><td>{{form.role14()}}</td></tr>
    <tr><td>{{ form.role15.label}} </td><td>{{form.role15()}}</td></tr>
    </tbody>
    </table>

      {{ form.submit() }}
  </form>
<br>

</div>
{% endblock %}
