{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Roles</h1>
  <p>In the first part of this test, please fill in the names of people who have filled certain roles in your life.</p>
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.role01.label}} {{form.role01()}} <br>
      {{ form.role02.label}} {{form.role02()}} <br>
      {{ form.role03.label}} {{form.role03()}} <br>
      {{ form.role04.label}} {{form.role04()}} <br>
      {{ form.role05.label}} {{form.role05()}} <br>
      {{ form.role06.label}} {{form.role06()}} <br>
      {{ form.role07.label}} {{form.role07()}}<br>
      {{ form.role08.label}} {{form.role08()}} <br>
      {{ form.role09.label}} {{form.role09()}} <br>
      {{ form.role10.label}} {{form.role10()}} <br>
      {{ form.role11.label}} {{form.role11()}} <br>
      {{ form.role12.label}} {{form.role12()}} <br>
      {{ form.role13.label}} {{form.role13()}} <br>
      {{ form.role14.label}} {{form.role14()}} <br>
      {{ form.role15.label}} {{form.role15()}} <br>
      {{ form.submit() }}
  </form>
  <h5> Notes </h5>
  <p>You can only use a name once. So, if two people share the same first name, write their last initials, too.</p>
  <p>Each person can only be used once. If someone filled more than one of these roles, then please choose them for only one role,
    and think of someone else for the other role.</p>
  <p>Lastly, if you don't have someone who precisely meets the category, choose the person you know who fits the category best</p>

</div>
{% endblock %}
